extends layout

block content
  .container
    h1= button
    form(method="POST", action=action, enctype="multipart/form-data")
      .form-group
        label(for="title") Title
        input#title(type="text", name="title", required, value=blog.title || '')
      
      .form-group
        label(for="content") Content
        textarea#content(name="content", required, style="height:300px;border:2px solid #a5b4fc;border-radius:0.7em;padding:1em;")= blog.content

      .form-group
        label(for="image") Image
        input(type="file", name="image", accept="image/*")

      button.btn.btn-primary(type="submit")= button